DATABASE_URL="mysql://root:password@localhost:3306/railsafety_db"
PORT=3000
JWT_SECRET="change_this_to_long_random_secret"
JWT_EXPIRES_IN="1h"
ADMIN_EMAIL="admin1234"
ADMIN_PASSWORD="1q2w3e4r!@#$"
ADMIN_NAME="System Admin"
